{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": [
						"last 2 versions",
						"ie >= 9",
						"ios_saf >= 8",
						"Android >= 4.3",
						"> 1%"
					]
				},
				"modules": false
			}
		]
	],
	"plugins": ["@babel/plugin-proposal-object-rest-spread"]
}